* {
  background-color: rgb(9 9 25);
  color: #fff;
  margin: 0;
  padding: 0;
}

html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}


.page-content {
  font-family: 'Montserrat', sans-serif;
  padding: 0px 36px 42px 36px;
}

.page-title {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  letter-spacing: 1.5px;
  justify-content: center;
  margin-top: 42px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  /* margin-right: 5px; */
}

.nav-bar-item {
  font-size: 14px;
  margin-right: 16px;
}

.header {
  display: flex;
  justify-content: center;
}

.encode-decode-options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 15px;
}

.language-card {
  box-shadow: rgba(155, 81, 224, 0.2) 0px 12px 28px 0px, rgba(155, 81, 224, 0.1) 0px 2px 4px 0px, rgba(155, 81, 224, 0.05) 0px 0px 0px 1px inset;
  color: #000;
  border: none;
  border-radius: 8px;
  margin: 10px 16px 0px 16px;
  padding: 10px 20px;
}

.language-card-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.language-card-description {
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: rgb(225 78 202);
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 4px 16px;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}

@media (min-width: 1000px) {

  .page-content {
    display: flex;
  }

  .nav-bar {
    justify-content: end;
  }

  .language-card-title {
    font-size: 16px;
  }

  .language-card-description {
    font-size: 12px;
  }

  label {
    font-size: 12px;
  }
}